html { 
    background: url(./images/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

section {
    position: absolute;
    width: 470px;
    margin: 50px auto;
    left: 50%;
    top: 0%;
    transform: translate(-50%);
}

nav {
    width: 100%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    width: 160px;
    text-align: center;
    color: black;
    padding: 10px 0 10px 0;
    margin: -1px -5px -1px -1px;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
}

nav ul li:hover {
    background: rgba(0,0,0,0.1);
}

nav ul {
    position: absolute;
    width: 100%;
    padding: 0;
    z-index: 100;
    background-color: rgba(255,255,255,0.7);
}

.active {
    color:#109C6C;
}

.restOfPage {
    margin: 150px auto;
    position: absolute;
    width: 65%;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    color: black;
}

.icons {
    opacity: 0.3;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.icons:hover {
    opacity: 1;
}

.emailLinks {
    color: black;
    opacity: 0.5;
    margin: 10px;
    text-decoration: none;
    display: block;
}

.emailLinks:hover {
    opacity: 1;
}

.pp {
    top: 0%;
    right: 0%;
    width: 300px;
    position: absolute;
}

.homepage {
    text-align: left;
}

.about-list {
    list-style: none;
    padding-left: 0;
}

.about-list li {
    font-weight: bold;
    color: #9ED9CD;
}

.about-list a {
    margin: 5px;
    font-weight: none;
    text-decoration: none;
    color: rgba(0,0,0,0.3);
}

.about-list a:hover {
    color: black;
}

h3 {
    font-size: 25px;
    text-decoration: underline;
}

.citation {
    font-weight: bold;
}
